
.list-unstyled {
  list-style: none;
  padding-left: 0;
}

.list-inline {
  list-style: none;
  padding-left: 0;
  
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}

.list-inline > li {
  flex: 0 1 auto;
  margin-right: calc(.4rem * var(--base-height));
  margin-bottom: calc(.5rem * var(--base-height));
}