@charset "UTF-8";

/**
 * Link
 *
 * Author: Michael Abt <michael@webwelten.com>
 */

 a {
  text-decoration: none;
  color: currentcolor;
  border-bottom: 1px solid transparent;
  transition: .2s border;
}

a:hover, 
a:active {
  border-bottom-color: currentColor;
}