@charset "UTF-8";

/**
 * Typo
 *
 * Author: Michael Abt <michael@webwelten.com>
 */

html,
body {
  font-size: 13px;
}

@media(min-width: 60em) {
  html, body {
    font-size: 15px;
  }
}



body {
  font-family: var(--font-longText);
  font-size: var(--fontSize-base);
  font-weight: 300;
  line-height: calc(1 * var(--base-height));
}

h1 {
  margin-bottom: calc(2rem * var(--base-margin));
  
  font-family: var(--font-title);
  font-size: var(--fontSize-10);
  font-weight: 300;
  line-height: 1;
  
  color: var(--secondary-color);
}

h2 {
  margin-bottom: calc(1rem * var(--base-height));

  font-size: var(--fontSize-20);
  font-weight: 500;
  line-height: calc(1 * var(--base-height));
}

h3 {
  margin-bottom: .2rem;
  margin-bottom: calc(.6rem * var(--base-height));

  font-size: var(--fontSize-30);
  font-weight: 300;
  line-height: 1.3;
}

h4 {
  font-size: var(--fontSize-40);
  font-weight: 400;
}

h5 {
  font-size: var(--fontSize-50);
  font-weight: 400;
}

p {
  margin-bottom: calc(.5rem * var(--base-margin));
}